<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="run.ut.app.mapper.ActivityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="run.ut.app.model.domain.Activity">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="cover" property="cover" />
        <result column="content" property="content" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="delete" property="delete" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>

</mapper>
