<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="run.ut.app.mapper.ActivityMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="run.ut.app.model.domain.Activity">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="cover" property="cover" />
        <result column="content" property="content" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="appointment_count" property="appointmentCount" />
        <result column="deleted" property="deleted" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
    </resultMap>
    
    <select id="listSelfCollection" resultMap="BaseResultMap">
        select a.id, a.cover, a.title, a.create_time from activity a
            inner join activity_collect ac on a.id = ac.activity_id
        where ac.uid = #{uid} and ac.deleted = 0
        order by ac.create_time
    </select>

    <select id="listSelfAppointment" resultMap="BaseResultMap">
        select a.id, a.cover, a.title, a.create_time from activity a
            inner join activity_appointment ap on a.id = ap.activity_id
        where ap.uid = #{uid} and ap.deleted = 0
        order by ap.create_time
    </select>

</mapper>
