<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="run.ut.app.mapper.PostsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="run.ut.app.model.domain.Posts">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="forum_id" property="forumId" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="likes" property="likes" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="deleted" property="deleted" />
    </resultMap>

    <resultMap id="postVo" type="run.ut.app.model.vo.PostVO">
        <id column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="forum_id" property="forumId" />
        <result column="forum_name" property="forumName" />
        <result column="title" property="title" />
        <result column="content" property="content" />
        <result column="nickname" property="nickname" />
        <result column="avatar" property="avatar" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <select id="listPostsByParams" resultMap="postVo">
        select p.id, p.title, p.content, p.create_time, p.update_time, u.uid, u.avatar, u.nickname from posts p
            inner join `user` u on u.uid = p.uid
        <where>
            1=1
            <if test="param.title!=null and param.title!=''">
                and instr(p.title, #{param.title}) > 0
            </if>
            <if test="param.uid!=null">
                and u.uid = #{param.uid}
            </if>
            <if test="param.forumId!=null">
                and p.forum_id = #{param.forumId}
            </if>
        </where>
        and p.deleted = 0
        group by p.id
        order by p.update_time desc
    </select>

    <select id="listCollectionByParams" resultMap="postVo">
        select p.id, p.uid, p.title, p.content, u.nickname, u.avatar, up.create_time from user_posts up
            inner join `user` u on u.uid = up.uid
            inner join posts p on p.id = up.post_id
        <where>
            1=1
            <if test="param.title!=null and param.title!=''">
                and instr(p.title, #{param.title}) > 0
            </if>
        </where>
        and u.uid = #{param.uid}
        and up.deleted = 0
        order by up.create_time
    </select>

</mapper>
