<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="run.ut.app.mapper.TeamsMembersMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="run.ut.app.model.domain.TeamsMembers">
        <id column="id" property="id" />
        <result column="team_id" property="teamId" />
        <result column="uid" property="uid" />
        <result column="is_leader" property="isLeader" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <resultMap id="memberVO" type="run.ut.app.model.vo.TeamMemberVO">
        <result column="id" property="id" />
        <result column="uid" property="uid" />
        <result column="nickname" property="nickname" />
        <result column="avatar" property="avatar" />
        <result column="is_leader" property="role" />
        <result column="recruitment" property="recruitment" />
    </resultMap>
    
    <select id="listSimpleMemberInfoByTeamsId" resultMap="memberVO">
        select tem.id, u.uid, u.avatar, u.nickname, tem.is_leader
             , tr.name recruitment
        from teams_members tem
                 inner join `user` u on u.uid = tem.uid
                 inner join teams_recruitments tr on tr.id = tem.recruitment_id
        where tem.team_id = #{teamsId}
          and tem.deleted = 0
        order by tem.create_time;
    </select>

</mapper>
