<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="run.ut.app.mapper.TeamsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="run.ut.app.model.domain.Teams">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="logo" property="logo" />
        <result column="description" property="description" />
        <result column="tag_ids" property="tagIds" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <resultMap id="teamsDTO" type="run.ut.app.model.dto.TeamsDTO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="logo" property="logo" />
        <result column="description" property="description" />
        <result column="tag_ids" property="tagIds" />
        <result column="status" property="status" />
        <result column="deleted" property="deleted" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
    </resultMap>

    <select id="listTeamsByUid" resultMap="teamsDTO">
        select t.id, t.`name`, t.logo, tm.is_leader role from teams_members tm
            inner join teams t on t.id = tm.team_id
        where tm.uid = #{uid} and tm.deleted = 0
        order by t.create_time desc
    </select>

</mapper>
